::selection {
    background: var(--main-bg-color);
    color: var(--main-txt-color);
}
::-moz-selection{
    background: var(--main-bg-color);
    color: var(--main-txt-color);
}
*{
    margin:0;
    padding:0;  
    font-family: GothamRoundedBook;
    font-size: 14px;
}
body{
    background-color: var(--main-bg-gray-color);
}
.desktop-mav {
    position: fixed;
    top: 0!important;
    z-index: 997;
}
#footer-plater{
    padding: 40px;
}
#footer-nav span {
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px!important;
}
#footer-nav li {
    list-style-type: none;
}
#footer-nav li a {
    color: #fff;
    padding: 2px;
}
.footer-copyright {
    padding: 20px!important;
    font-size: 31px!important;
}
#f-icon {
    padding: 6px!important;
    font-size: 17px!important;    
}
#right{
    float: right;
}
#profile-plater{
    background: rgb(180,103,104);
    background: linear-gradient(90deg, rgba(180,103,104,1) 0%, rgba(232,150,150,1) 35%, rgba(255,199,199,1) 100%);    color: #fff;
    width: 100%;
    max-width: 100%;
    padding: 180px;
    color: white;
}
#profile-plater p {
    font-size: 28px;
}
#relax {
    background-color: #ededed;
    color: #000;
    width: 100%;
    max-width: 100%;
    padding:100px;
}
#relax-plater {
    background-color: #ededed;
    color: #000;
    width: 100%;
    max-width: 100%;
    padding:50px;    
}
#white-board{
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 100%;
    padding:100px;
}
#profile-page {
    font-size: 255px!important;
}
#profileImg {
    width: 250px;
    height: 250px;
    border: 1px solid transparent;
    border-radius: 50%;
}
#pages {
    background: rgb(180,103,103);
    background: linear-gradient(90deg, rgba(180,103,103,1) 0%, rgba(202,150,232,0.7840356719627809) 35%, rgba(255,199,199,1) 100%);    color: #fff;
    width: 100%;
    max-width: 100%;
    padding: 60px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.verdana {
    font-family: Poppins,verdana!important;
    font-size: 15px !important;
    line-height: 24px !important;
    font-weight: 350!important;
}
.zest-title {
    margin-bottom: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e89696!important;
    font-weight: 300
}
.zest-title .page-title {
    border-bottom: 2px solid #b46768!important;
    font-size: 35px;
    padding-bottom: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)!important;
}
#none {
    display: none;
}
#faq-page-heading {
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray!important;
    font-weight: 360;
    font-size: 15px!important; 
    margin: 12px;
}
#faq-icon {
  margin-bottom: 3px;
  font-size: 15px!important; 
}
/* About page */
#about-card {
    width: 100%;
    max-width: 100%;
}
#about-team-image {
    width: 50px;
    height: 50px;
    max-width: 50px;
    border: 1px solid transparent;
    border-radius: 100%;
    position: inherit;
}
#about-team-name {
    position: inherit;
    margin-left: 60px;
    margin-top: -50px;
}
#about-team-role {
    margin-left: 60px;
    font-style: italic;
    font-weight: 100;
    opacity: 0.5;
}
#about-team-msg {
    margin-top: 25px;
    opacity: 0.7;
}
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    overflow: hidden;
}
#spinner {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 101;
    background-color: #003c32;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)  }
}

@keyframes sk-rotateplane {
0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    background-color: #e89696
} 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) ; background-color: #ffc7c7
} 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    background-color: #b46768;
}
}
#desktop-bottom {
  margin-top: 50px!important;
}
/* mobile */
@media only screen and (max-width: 950px) {
  #pages h1 {
      font-size: 25px;
  }
  #profileImg {
      width: 80px;
      height: 80px;
      border: 1px solid transparent;
      border-radius: 50%;
  }
  #profile-plater-h{
      font-size: 25px!important;
  }
  #profile-plater-p{
      font-size: 15px!important;
  }  
  #profile-plater {
      padding: 80px;
  }
  #relax-plater {
      padding:10px;    
  }
  #relax {
      padding:12px!important;    
  }
  #white-board {
      padding:12px!important;
  }
  #desktop-bottom {
    margin-top: 0px!important;
  }
}
.dropdown-content{
    background-color: #fff!important;
    overflow: visible !important;
    width: 150px!important;
    top: 55px!important;
}
#dropdown01-mob {
    background-color: #fff!important;
    overflow: visible !important;
    width: 100%!important;
    max-width: 100%!important;
    text-align: center;
    top: 4px!important;  
}
#dropdown1-mob {
    background-color: #fff!important;
    overflow: visible !important;
    width: 100%!important;
    max-width: 100%!important;
    text-align: center;
    top: 4px!important;  
}
#dropdown01-mob li a:hover {
    background-color: #f7f7f7!important;
}
#dropdown1-mob li a:hover {
    background-color: #f7f7f7!important;
}
#dropdown01 li a:hover {
    background-color: #f7f7f7!important;
}
#dropdown1 li a:hover {
    background-color: #f7f7f7!important;
}
/* mobile nav bar */
.topnav {
  overflow: hidden;
  background-color: #e89696;
  width: 100%;
  max-width: 100%;
  padding-left: 50px;  
  padding-right: 50px;  
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}
.icon {
  font-weight: bold;
  color: white!important;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e89696;
    min-width: 160px;
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #e89696;
  color: white;
}

.dropdown-content a:hover {
    background-color: #e89696;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 950px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 950px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 50px;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
h1 {
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
h2 {
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

h3 {
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
h4 {
  font-family: "GothamRoundedBold";
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
}
h5 {
  font-family: "GothamRoundedBold";
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
}

h6 {
  font-family: "GothamRoundedBold";
  font-style: normal;
  font-variant: normal;
  font-weight: 450;
}
#community-user-image {
  width:100px;
  height:100px;
  border: 10px solid #fff;
  border-radius:100%;
  margin-bottom: 20px;
}
#cummunity-user-name {
   margin-left: 120px;
   margin-top: -120px;
}
#cummunity-time {
   margin-left: 120px;
   margin-top: -20px;
   opacity: 0.6;
} 
#community-description {
     margin-left: 120px;
}
.alert {
    padding: 20px;
    color: var(--main-white-color);
}
.danger {
    background: #ff0000;
  }  
.danger:hover {
    background: #c20000;
}
.primary {
    background-color: var(--main-bg-primary-color);
} 
.primary:hover {
    background-color: var(--main-bg-dark-color);
}
.success {
    background-color: #329e36;
} 
.success:hover {
    background-color: #006e00;
}
.info {
    background-color: #0062af;
} 
.info:hover {
    background: #00397f;
}
.topic-answer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #329e36;
}
.topic-answer-no {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #0062af;
}
.community-page-title {
   margin-left: 35px!important;
   margin-top: -20px!important;
}

.btn {
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2) 
}
.zest {
  background: #e89696;
}
p img {
    width: 100%;
  }
pre code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}